<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet" />
    <title>Document</title>
</head>

<body style="background-color: #fff;">
    <table style="
        background: #fff !important;
        text-align: center;
        width: 100%;">
        <tbody style="background: #fff !important;">
            <tr>
                <td align="center">
                    <img src="https://nlpc-assets.s3.amazonaws.com/logo-dark.png" alt="logo" style="width: 170px;" />
                </td>
            </tr>
            <tr>
                <td style="padding: 20px 50px 50px;">
                    <table style="
                        background: #3973E1 !important;
                        width: 100%;
                        padding: 20px 10px;
                        color: #fff;
                        ">
                        <tr>
                            <td>
                                <h2 style="margin: 0">
                                    <%= MAIL.OTP_HEADING %>
                                </h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Use this Code
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 40px; font-weight: bold; padding-bottom: 30px;">
                                <%= otp %>
                            </td>
                        </tr>
                        <tr>
                            <td>Happy Polling! </td>
                        </tr>
                        <tr>
                            <td>2023 © NextLPC™. All rights reserved.</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" style="color: #fff; text-decoration: none">Terms & Conditions | </a>
                                <a href="#" style="color: #fff; text-decoration: none">Privacy Policy</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>